[Unit]
Description=rclonemount
AssertPathIsDirectory=%h/OneDrive
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
        --config=%h/.config/rclone/rclone.conf \
        --vfs-cache-mode writes \
        onedrive: %h/OneDrive
ExecStop=/bin/fusermount -u %h/OneDrive
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
